<div class="row">
    <div class="col-md-12">
         <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">edit Person</h5>
           
            <button type="button" class="close" aria-label="Cerrar" (click)="bsModalRef.hide();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="Addressform" (ngSubmit)="onPost()">
            <div class="modal-body">
                
                  <div class="col-md-12 form-content">
                    <div class="col-sm-12 col-12" >
                     
                       <label style="display: block;">Person</label>
                      <mat-form-field appearance="fill">
                        <mat-label>persons</mat-label>
                        <mat-select [(value)]="personId">
                          <mat-option *ngFor="let person of persons" [value]="person.id">
                           {{person.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                        <div class="col-sm-12 col-12" >
                          <div class="form-group">
                            <label for="name" class="label">Address Title</label>
                            <input type="text" 
                              id="name" 
                              name="name" 
                              placeholder="Name" 
                              formControlName="AddressName"
                              class="form-control">
                            <span *ngIf="Addressform.controls['AddressName'].errors?.required && Addressform.controls['AddressName'].touched" style="color:red"> required!</span>
                          
                          </div>
                        </div>


                      
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide();">Cancel</button>
            
              <button type="submit" class="btn btn-success btn-save" style="position: relative;"  [disabled]= "!Addressform.valid || postdata">
                  save
                  <div class="loadingio-spinner-spin-tg278z7z83" [ngClass]="postdata? 'block' : 'none'" >
                    <div class="ldio-tw3lft2h3a">
                    <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                    </div>
                  </div>
              </button>
            </div>
       </form>
    </div>